<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FrameMenuPath" value="~/Designer/Frame/FrameMenu.xml"/>
    <!--框架使用的表，不在默认表选择中-->
    <add key="frmTableList" value="JAuthority,JErrorLog,JModel,JRoleUsers,JUserActionLog,JAuthorityDetail,JItem,JOrg,JSqlInfo,JUserData,JAuthorityRoles,JItemDetail,JOrgUsers,JStrInfo,JUserLoginLog,JBusinessTables,JMenu,JRole,JUser,JUserUrl,JAttachment,dtproperties"/>
  </appSettings>

  <system.web>
    <pages styleSheetTheme="Admin"></pages>

    <!--禁止匿名用户的访问-->
    <authorization>
      <allow users ="*"/>
    </authorization>
    
  </system.web>
</configuration>
