@charset "utf-8";
/* CSS Document */

body{ font-family:"宋体"; font-size:12px; color:#000;overflow-x:hidden;overflow-y:auto;}
*{ margin:0px;padding:0px;}
a{ text-decoration:none;}
a:link img {border-style: outset;}
a:hover{ text-decoration:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
h1,h2,h3,strong{ font-weight:bold;}
.cl { clear:both; }

/*头部*/
.top { width:100%;min-width:1400px;height:80px; background-color:#FFF;}
.top .logo { position:absolute;top:20px;left:20px; width:300px; height:41px; background:url(../images/Logo.png); }

/*内容*/
.content { width:100%;min-width:1400px; height:740px; background:url(../images/bg.png);}
.content .leftguang {width:335px;height:471px; background-image:url(../images/guangyunniao.png);}
.content .leida{
	width:471px;
	height:471px;
	background-image:url(../images/leida.png);
	position:absolute;
	left:244px;
	top:290px;
}

.content .ewm{
	width:154px;
	height:154px;
	background-image:url(../images/ewm1.png);
	position:absolute;
	left:158px;
	top:158px;
}

.content .title{
	width:361px;
	height:129px;
	background-image:url(../images/title1.png);
	position:absolute;
	top:140px;
	left:321px;
}

.content .leftdowntree
{
	width:204px;
	height:239px;
	background-image:url(../images/leftdowntree.png);
	position:absolute;
	top:580px;
	left:0px;
}

.content .xuchuanyu
{
	width:407px;
	height:17px;
	background-image:url(../images/xuanchuanyu.png);
	position:absolute;
	top:777px;
	left:273px;
}

.content .zhongyun
{
	width:120px;
	height:83px;
	background-image:url(../images/zhongyun.png);
	position:absolute;
	top:168px;
	left:755px;
}

.content .zhongguang
{
	width:411px;
	height:276px;
	background-image:url(../images/zhongguan.png);
	position:absolute;
	top:556px;
	left:643px;
}


.content .denglubj2
{
	width:384px;
	height:380px;
	background-image:url(../images/dlbj.png);
	position:absolute;
	top:200px;
	left:982px;
}

.content .denglubj
{
	width:384px;
	height:379px;
	background-image:url(../images/dlbj.png);
	position:absolute;
	top:240px;
	left:982px;
}

.content .denglutitle
{
	width:151px;
	height:45px;
	background-image:url(../images/denglutitle.png);
	position:absolute;
	top:270px;
	left:1020px;
}

.content .denglutitle2
{
	width:151px;
	height:45px;
	background-image:url(../images/denglutitle.png);
	position:absolute;
	top:220px;
	left:1020px;
}

.content .gongsi
{
	width:384px;
	height:44px;
	background-image:url(../images/gsbj.png);
	position:absolute;
	top:640px;
	left:982px;
}


.content .gongsi2
{
	width:384px;
	height:90px;
	background-image:url(../images/cgg.png);
	position:absolute;
	top:605px;
	left:982px;
}

.content .youyun
{
	width:155px;
	height:107px;
	background-image:url(../images/youyun.png);
	position:absolute;
	top:89px;
	left:1375px;
}


.content .youxiayun
{
	width:378px;
	height:94px;
	background-image:url(../images/youxiayun.png);
	position:absolute;
	top:718px;
	left:1171px;
}

.content .p1 .p1con
{
	margin: 5px 0 0 18px;
}
.content .p1 .p1con p
{
	line-height: 40px;
	margin-left:20px;
	padding-top:15px;
	position: relative;
}
.content .p1 .p1con p .text
{
	width: 240px;
	height: 30px;
	border: 1px solid #ccc;
	padding: 0 0 0 2px;
	/*color: #ccc;*/
	line-height: 30px;
}
.content .p1 .p1con p .yzm
{
	width: 160px;
	height: 30px;
	border: 1px solid #ccc;
	padding: 0 0 0 2px;
	line-height: 30px;
}
.content .p1 .p1con p .yzmpic
{
    width: 72px;
	height: 30px;
	position: absolute;
	top: 20px;
	left: 220px;
}
.content .p1 .p1con p .login
{
	width: 290px;
	height: 45px;
	background: url(../images/btndenglu.png) no-repeat;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 10px 0 0 0px;
}
.content .p1 .p1con p .registered
{
	width: 83px;
	height: 25px;
	background: url(../images/btn2.gif) no-repeat;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 5px 0 0 26px;
}


/*平台公告*/
.content .p3
{
	width: 375px;
	height: 27px;
	float: left;
	margin: 5px 0 0 5px;
}

.content .p3 .p3con
{
	margin: 3px 0 0 10px;
	width:345px; height:27px;line-height:27px;overflow:hidden;
}
.content .p3 .p3con ul li
{
	float:left;
	width: 340px;
	height:27px;
	line-height: 27px;
	margin:0; 
	padding:0;
}
.content .p3 .p3con ul li a
{
	color: #000;
}
.content .p3 .p3con ul li a:hover
{
	color: #21A0D8;
}
.content .p3 .p3con ul li .date
{
	float: right;
}
/*底部*/
.foot { width:100%;min-width:1400px;height:74px;text-align:center; background-color:#FFF;line-height:74px; bottom:0px; top:1024px; }


