BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
IMG A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
BODY {
	WIDTH: 100%; FONT: 12px/1.25em Verdana, Helvetica, sans-serif; BACKGROUND: url(/images/body_bg.gif) #eaeaea repeat-x left top; HEIGHT: 100%; COLOR: #4c4c4c
}
SELECT {
	FONT: 12px Verdana, Helvetica, sans-serif
}
INPUT {
	FONT: 12px Verdana, Helvetica, sans-serif
}
HTML {
	WIDTH: 100%; HEIGHT: 100%
}
HTML > BODY {
	WIDTH: 100%; HEIGHT: 100%
}
.clear {
	LINE-HEIGHT: 1px; MARGIN-TOP: -1px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px
}
A {
	COLOR: #363739; TEXT-DECORATION: none
}
A:hover {
	COLOR: #2b2b2b; TEXT-DECORATION: underline
}
.b {
	FONT-WEIGHT: bold
}
.u A {
	TEXT-DECORATION: underline
}
.u A:hover {
	TEXT-DECORATION: none
}
.w A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.w A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.pl12 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.p8 A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 0px
}
.p8_right A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 8px; PADDING-TOP: 0px
}
.h15 {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; HEIGHT: 15px; PADDING-TOP: 0px
}
.xx_line {
	WIDTH: 100%; WHITE-SPACE: nowrap; HEIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #9e9e9e 1px dotted
}
.red_link {
	COLOR: #ae0001
}
.red {
	COLOR: red
}
.red A {
	COLOR: red
}
.red A:hover {
	TEXT-DECORATION: underline
}
.gary {
	COLOR: #686868
}
.lefta {
	FLOAT: left
}
.righta {
	FLOAT: right
}
.pt10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.pt3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.pt8 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.ml8 {
	MARGIN: 0px 0px 0px 8px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mrg A {
	COLOR: #2b2b2b
}
.mrg A:hover {
	COLOR: #2b2b2b
}
.gary_link A {
	COLOR: #5a5a5a
}
.gary_link A:hover {
	COLOR: #5a5a5a
}
.line1 {
	LINE-HEIGHT: 22px
}
.font14 {
	FONT-SIZE: 14px
}
.bh {
	COLOR: #d40000; FONT-WEIGHT: bold
}
.bh A {
	COLOR: #d40000; TEXT-DECORATION: underline
}
.shuzi {
	COLOR: #d40000
}
.shuzi A {
	COLOR: #d40000; TEXT-DECORATION: underline
}
.header {
	BORDER-BOTTOM: #fff 1px dotted; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: #ffba00; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.header_p {
	PADDING-BOTTOM: 0px; MARGIN: 8px 8px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.header_right {
	PADDING-BOTTOM: 0px; MARGIN: 8px 8px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.search {
	BORDER-BOTTOM: #fff 1px dotted; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 78px; OVERFLOW: hidden; BORDER-TOP: #b5b8c8 1px dotted; PADDING-TOP: 0px
}
.search_left {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; MARGIN: 8px 8px 0px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.search_right {
	PADDING-BOTTOM: 0px; MARGIN: 8px 15px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.pv_body {
	BORDER-BOTTOM: #fff 1px dotted; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #b5b8c8 1px dotted; PADDING-TOP: 10px
}
.png {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.png IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.footer {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #b5b8c8 1px dotted; PADDING-TOP: 10px
}
.footer_left {
	PADDING-BOTTOM: 0px; MARGIN: 8px 8px 0px 15px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.footer_right {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 8px 15px 0px 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 0px
}
