Table.DetailTable
{
	background-color: #ADDAFF;
	border: solid 0pt white;
	width: 99%;
	margin-top: 5px;
}

Table.DetailTable Td.Caption
{
	height: 25px;
	vertical-align: middle;
	background-color: #EDF7FF;
	font-weight: bold;
	text-align: right;
	padding-right: 2px;
	width: 18%;
	font-size: 12px;
}

Table.DetailTable Td.Caption_Left
{
	height: 25px;
	vertical-align: middle;
	background-color: #EDF7FF;
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
	width: 18%;
	font-size: 12px;
}

Table.DetailTable Td.Caption_Center
{
	height: 25px;
	vertical-align: middle;
	background-color: #EDF7FF;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

Table.DetailTable Td.Data
{
	height: 23px;
	vertical-align: middle;
	background-color: #F7F7F7;
	text-align: left;
	padding-left: 2px;
	width: 32%;
	line-height: 150%;
	font-size: 12px;
}

Table.DetailTable Td.Data_Center
{
	height: 23px;
	vertical-align: middle;
	background-color: #F7F7F7;
	text-align: center;
	line-height: 150%;
	font-size: 12px;
}

/*------------------2 col-------------------*/
Table.DetailTable Td.Caption2
{
	height: 25px;
	vertical-align: middle;
	background-color: #EDF7FF;
	font-weight: bold;
	text-align: right;
	padding-right: 2px;
	width: 30%;
	font-size: 12px;
}

Table.DetailTable Td.Caption_Left2
{
	height: 25px;
	vertical-align: middle;
	background-color: #EDF7FF;
	font-weight: bold;
	text-align: left;
	padding-left: 2px;
	width: 30%;
	font-size: 12px;
}

Table.DetailTable Td.Data2
{
	height: 23px;
	vertical-align: middle;
	background-color: #F7F7F7;
	text-align: left;
	padding-left: 2px;
	width: 70%;
	line-height: 150%;
	font-size: 12px;
}

