<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!--使用单位管理后台配置文件-->
    <!--FrameMenu.XML所在的文件路径-->
    <add key="FrameMenuPath" value="~/SysManager/Frame/FrameMenu.xml"/>
  
    <!--设置用户能访问的权限组和登录的Login-->
    <!--<add key="AuthorityGroup" value ="SysManager"/>--> 
    <add key="LoginUrl" value ="~/Login/AdminLogin.aspx"/>

  </appSettings>
  
  <system.web>
      <pages styleSheetTheme=""></pages>

      <!--禁止匿名用户的访问-->
      <authorization>
         <deny users ="?"/>
      </authorization>    
</system.web>
  
</configuration>
